body {

  background-image: url('connet.png');

  background-size: cover; 

  background-position: center; 

  background-attachment: fixed;
  margin: 0; 
  
  color: rgb(0, 0, 0); 
}
h1 {
  text-align: center;
  margin-top: 50px; /
}
h2, p {
  text-align: center;
  margin: 5px 0; 

  display: inline-block;
  margin: 10px 20px;
}